ibon-web.json
{
  "updatedAt": "2026-01-26T18:45:52.001Z",
  "createdAt": "2026-01-10T16:16:10.189Z",
  "id": "aw1Z0944wtQvvrm7",
  "name": "ibon-web",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ibon-web",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6160,
        -560
      ],
      "id": "6edd994e-f171-437b-8e4c-4913a1206b28",
      "name": "Webhook",
      "webhookId": "706d499a-de46-4167-91c3-eb16eda46c3f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario:\n{{ $json.mensajeTexto }}\n  ---\n  Contexto de la conversaci\u00f3n:\n  - Nombre: {{ $json.nombre }}\n  - Tipo de mensaje: {{ $json.messageType === 'audio' ? 'Audio transcrito' : 'Texto escrito' }}\n  - Plataforma: {{ $json.platform || 'Web' }}\n  - Fecha y Hora Actual: {{ $json.horaFormateada }} {{ $json.timestamp ? new Date($json.timestamp).toLocaleString('es-CO', { timeZone: 'America/Bogota' }) : 'Ahora' }}",
        "options": {
          "systemMessage": "={{ $json.instr_personalidad }}\n---\n{{ $json.instr_negocio }}\n---\n{{ $json.instr_situaciones }}\n---\n{{ $json.instr_protocolo }}\n---\n{{ $json.instr_herramientas }}\n---\n\n## PREGUNTAS FRECUENTES\nCuando te pregunten algo relacionado con estas preguntas, usa estas respuestas:\n\n{{ $json.faqs }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2080,
        -144
      ],
      "id": "8dfa5ee1-2b8e-4435-897a-2f92dc923cd3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2848,
        256
      ],
      "id": "e4c20f35-6ac4-46b8-860b-889b0fae0060",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "13GTvADAQ2YoLY2j",
          "name": "OpenAikey"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2672,
        256
      ],
      "id": "491dd34d-f9ee-46d5-9239-c0119e43c148",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        -944
      ],
      "id": "8f79d7b7-d20c-4364-b519-345e20860596",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Preparar respuesta - tomar datos de WhatsApp desde Classify-Source\nconst responseText = $json.text;\nconst hasAudio = $json.hasAudio || false;\nconst audioBase64 = $json.audioBase64 || null;\n\n// Obtener source directamente de Classify-Source (donde sabemos que funciona)\nconst classifyData = $('Classify-Source').item.json;\nconst source = classifyData.source || {};\n\nconst response = {\n  success: true,\n  data: {\n    response: responseText,\n    audio: hasAudio ? audioBase64 : null,\n    hasAudio: hasAudio\n  },\n  // Campos de WhatsApp desde Classify-Source\n  sourceIsWhatsApp: source.isWhatsApp === true,\n  sourcePhoneNumber: source.phoneNumber || '',\n  evolutionUrl: source.evolutionUrl || '',\n  evolutionInstance: source.evolutionInstance || ''\n};\n\nreturn { json: response };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -656
      ],
      "id": "ea4fec96-da28-4b1f-9a2e-e04a382f101f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputText": "={{ $json.mensajeTexto }}",
        "categories": {
          "categories": [
            {
              "category": "saludo",
              "description": "SOLO si es un saludo simple y directo SIN ninguna pregunta o solicitud adicional. Ejemplos: 'Hola', 'Buenos d\u00edas', 'Hey', 'Qu\u00e9 m\u00e1s'. Si dice algo m\u00e1s aparte del saludo, NO es esta categor\u00eda."
            },
            {
              "category": "despedida",
              "description": "SOLO si es una despedida simple y directa SIN ninguna pregunta o solicitud adicional. Ejemplos: 'Chao', 'Adi\u00f3s', 'Bye', 'Hasta luego', 'Nos vemos'. Si dice algo m\u00e1s aparte de la despedida, NO es esta categor\u00eda."
            },
            {
              "category": "general",
              "description": "TODO LO DEM\u00c1S que no sea un saludo o despedida simple. Esto incluye: preguntas, solicitudes de informaci\u00f3n, agradecimientos, confirmaciones, consultas sobre servicios, precios, cualquier cosa con contexto adicional. Esta es la categor\u00eda M\u00c1S COM\u00daN y debe usarse para la mayor\u00eda de mensajes."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -3376,
        -208
      ],
      "id": "e96cf09a-be99-4e3a-bf7a-8cd6d812f635",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3376,
        32
      ],
      "id": "524bc613-b855-4de8-bcbf-1439ef1a890c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "13GTvADAQ2YoLY2j",
          "name": "OpenAikey"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category-field",
              "name": "category",
              "value": "saludo",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        -576
      ],
      "id": "6f881b16-bb76-4230-8dc5-161fa39ca1ba",
      "name": "add-saludo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category-field",
              "name": "category",
              "value": "general",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        -160
      ],
      "id": "58e1d55a-2387-4164-8836-00a3d95747ec",
      "name": "add-consulta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "category-field",
              "name": "category",
              "value": "despedida",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        -368
      ],
      "id": "ce91fbc9-0737-42aa-af73-76b72dd8bdf9",
      "name": "add-despedida"
    },
    {
      "parameters": {
        "jsCode": "// Obtener hora de Colombia\nconst now = new Date();\nconst colombiaTime = new Date(now.toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst hora = colombiaTime.getHours();\nconst nombre = $json.nombre || \"\";\nconst sourceProject = $json.sourceProject || \"general\";\nconst categoria = \"saludo\";\n\n// Determinar saludo seg\u00fan hora\nlet horario;\nif (hora >= 5 && hora < 12) {\n  horario = \"Buenos d\u00edas\";\n} else if (hora >= 12 && hora < 19) {\n  horario = \"Buenas tardes\";\n} else {\n  horario = \"Buenas noches\";\n}\n\n// Saludos por sitio\nconst saludosPorSitio = {\n  'ibon-landing': [\n    `**\u00a1${horario}${nombre ? ', ' + nombre : ''}!** Soy Ibon.\\n\\nTe ayudo con **Reto Gl\u00fateos**, **Palacio Fitness** o **By Ibon**.\\n\\n\u00bfQu\u00e9 te interesa conocer?`,\n    `**${horario}${nombre ? ', ' + nombre : ''}.**\\n\\nSoy Ibon, tu gu\u00eda en este camino de transformaci\u00f3n.\\n\\n\u00bfPor d\u00f3nde empezamos?`,\n    `**\u00a1${horario}!** Soy Ibon.\\n\\nAqu\u00ed encontrar\u00e1s entrenamiento, disciplina y empoderamiento.\\n\\n\u00bfQu\u00e9 necesitas hoy?`\n  ],\n  'reto-gluteos': [\n    `**\u00a1${horario}${nombre ? ', ' + nombre : ''}!** Bienvenida al **Reto Gl\u00fateos**.\\n\\n28 d\u00edas para transformar tus gl\u00fateos con m\u00e9todo y disciplina.\\n\\n\u00bfLista para el reto?`,\n    `**${horario}${nombre ? ', ' + nombre : ''}.**\\n\\nEn el Reto Gl\u00fateos no hay atajos, hay resultados.\\n\\n\u00bfQu\u00e9 quieres saber?`,\n    `**\u00a1${horario}!** Soy Ibon.\\n\\nEl Reto Gl\u00fateos es para mujeres que se eligen a s\u00ed mismas.\\n\\n\u00bfTe cuento c\u00f3mo funciona?`\n  ],\n  'palacio-fitness': [\n    `**\u00a1${horario}${nombre ? ', ' + nombre : ''}!** Bienvenida a **Palacio Fitness**.\\n\\nEl gimnasio exclusivo para mujeres que buscan resultados reales.\\n\\n\u00bfEn qu\u00e9 puedo ayudarte?`,\n    `**${horario}${nombre ? ', ' + nombre : ''}.**\\n\\nEn Palacio Fitness entrenamos con prop\u00f3sito, no con presi\u00f3n.\\n\\n\u00bfQu\u00e9 te gustar\u00eda saber?`,\n    `**\u00a1${horario}!** Soy Ibon.\\n\\nAqu\u00ed no hay contratos ni amarres. Solo compromiso contigo misma.\\n\\n\u00bfQu\u00e9 necesitas?`\n  ],\n  'by-ibon': [\n    `**\u00a1${horario}${nombre ? ', ' + nombre : ''}!** Bienvenida a **By Ibon**.\\n\\nAqu\u00ed acompa\u00f1amos mujeres que quieren liderar su vida y su negocio.\\n\\n\u00bfQu\u00e9 tienes en mente?`,\n    `**${horario}${nombre ? ', ' + nombre : ''}.**\\n\\nBy Ibon es para mujeres que dejaron de buscar aprobaci\u00f3n.\\n\\n\u00bfEn qu\u00e9 puedo orientarte?`,\n    `**\u00a1${horario}!** Soy Ibon.\\n\\nEl empoderamiento no es un discurso, es una decisi\u00f3n diaria.\\n\\n\u00bfQu\u00e9 te trajo aqu\u00ed?`\n  ],\n  'ibon-ws': [\n    `**\u00a1${horario}${nombre ? ', ' + nombre : ''}!** Soy Ibon.\\n\\nGracias por escribirme por WhatsApp.\\n\\n\u00bfEn qu\u00e9 puedo ayudarte hoy?`,\n    `**${horario}${nombre ? ', ' + nombre : ''}.**\\n\\nQu\u00e9 gusto saludarte por aqu\u00ed.\\n\\n\u00bfQu\u00e9 necesitas?`,\n    `**\u00a1${horario}!** Soy Ibon.\\n\\nCu\u00e9ntame, \u00bfen qu\u00e9 te puedo ayudar?`\n  ],\n  'general': [\n    `**\u00a1${horario}${nombre ? ', ' + nombre : ''}!** Soy Ibon.\\n\\nAqu\u00ed para acompa\u00f1arte en tu transformaci\u00f3n.\\n\\n\u00bfQu\u00e9 necesitas hoy?`,\n    `**${horario}${nombre ? ', ' + nombre : ''}.**\\n\\nSoy Ibon. Estoy para ayudarte.\\n\\n\u00bfPor d\u00f3nde empezamos?`\n  ]\n};\n\n// Seleccionar saludos del sitio o general\nconst saludos = saludosPorSitio[sourceProject] || saludosPorSitio['general'];\nconst randomIndex = Math.floor(Math.random() * saludos.length);\nconst saludo = saludos[randomIndex];\n\nreturn [{\n  json: {\n    ...$json,\n    aiResponse: saludo,\n    category: categoria\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        -560
      ],
      "id": "9969e8c0-faaf-43b3-89eb-1430274439ec",
      "name": "Random Saludo"
    },
    {
      "parameters": {
        "jsCode": "const nombre = $json.nombre || \"\";\nconst sourceProject = $json.sourceProject || \"general\";\nconst categoria = \"despedida\";\n\n// Despedidas por sitio\nconst despedidasPorSitio = {\n  'ibon-landing': [\n    `**\u00a1Hasta pronto${nombre ? ', ' + nombre : ''}!**\\n\\nCuando est\u00e9s lista para dar el siguiente paso, aqu\u00ed estar\u00e9.`,\n    `**Nos vemos${nombre ? ', ' + nombre : ''}.**\\n\\nExplora nuestros servicios cuando quieras. Sin presi\u00f3n.`,\n    `**\u00a1\u00c9xitos${nombre ? ', ' + nombre : ''}!**\\n\\nRecuerda: Reto Gl\u00fateos, Palacio Fitness o By Ibon. T\u00fa decides.`\n  ],\n  'reto-gluteos': [\n    `**\u00a1Hasta pronto${nombre ? ', ' + nombre : ''}!**\\n\\nCuando est\u00e9s lista para el reto, aqu\u00ed te espero.`,\n    `**Nos vemos${nombre ? ', ' + nombre : ''}.**\\n\\n28 d\u00edas pueden cambiarlo todo. T\u00fa decides cu\u00e1ndo empezar.`,\n    `**\u00a1\u00c9xitos${nombre ? ', ' + nombre : ''}!**\\n\\nTus gl\u00fateos merecen el esfuerzo. Vuelve cuando quieras.`\n  ],\n  'palacio-fitness': [\n    `**\u00a1Hasta pronto${nombre ? ', ' + nombre : ''}!**\\n\\nLas puertas de Palacio Fitness siempre est\u00e1n abiertas para ti.`,\n    `**Nos vemos${nombre ? ', ' + nombre : ''}.**\\n\\nSin contratos, sin presi\u00f3n. Solo resultados cuando t\u00fa lo decidas.`,\n    `**\u00a1Cu\u00eddate${nombre ? ', ' + nombre : ''}!**\\n\\nEl gimnasio te espera. Empiezas cuando t\u00fa quieras.`\n  ],\n  'by-ibon': [\n    `**\u00a1Hasta pronto${nombre ? ', ' + nombre : ''}!**\\n\\nEl empoderamiento es un camino. Aqu\u00ed estar\u00e9 cuando lo necesites.`,\n    `**Nos vemos${nombre ? ', ' + nombre : ''}.**\\n\\nLiderar tu vida es una decisi\u00f3n diaria. Cuenta conmigo.`,\n    `**\u00a1\u00c9xitos${nombre ? ', ' + nombre : ''}!**\\n\\nBy Ibon te espera cuando est\u00e9s lista para el siguiente nivel.`\n  ],\n  'ibon-ws': [\n    `**\u00a1Hasta pronto${nombre ? ', ' + nombre : ''}!**\\n\\nGracias por escribirme. Aqu\u00ed estar\u00e9 cuando me necesites.`,\n    `**Nos vemos${nombre ? ', ' + nombre : ''}.**\\n\\nFue un gusto atenderte por WhatsApp.`,\n    `**\u00a1Cu\u00eddate${nombre ? ', ' + nombre : ''}!**\\n\\nEscr\u00edbeme cuando quieras. Sin compromiso.`\n  ],\n  'general': [\n    `**\u00a1Hasta pronto${nombre ? ', ' + nombre : ''}!**\\n\\nAqu\u00ed estar\u00e9 cuando me necesites.`,\n    `**Nos vemos${nombre ? ', ' + nombre : ''}.**\\n\\nFue un gusto. Vuelve cuando quieras.`\n  ]\n};\n\n// Seleccionar despedidas del sitio o general\nconst despedidas = despedidasPorSitio[sourceProject] || despedidasPorSitio['general'];\nconst randomIndex = Math.floor(Math.random() * despedidas.length);\nconst despedida = despedidas[randomIndex];\n\nreturn [{\n  json: {\n    ...$json,\n    aiResponse: despedida,\n    category: categoria\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        -368
      ],
      "id": "303cc0fc-2c14-45a5-afcc-c87232ae3f02",
      "name": "Random Despedida"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1616,
        -384
      ],
      "id": "a1ee0aed-7667-4720-baae-eb69b243702f",
      "name": "Merge Responses"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.messageType === 'audio' || ($json.mensajeAudio && $json.mensajeAudio.length > 0) ? 0 : 1 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3872,
        -208
      ],
      "id": "9f7ad7a5-6631-47e6-a50b-9de308a91b31",
      "name": "Switch-Data-Msg"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3488,
        -688
      ],
      "id": "d7b55c94-f532-4483-ba5c-d3bded6ba746",
      "name": "Transcribe-Audio",
      "credentials": {
        "openAiApi": {
          "id": "13GTvADAQ2YoLY2j",
          "name": "OpenAikey"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items de entrada\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const audioBase64 = item.json.mensajeAudio;\n  const audioDuration = item.json.audioDuration || 0;\n\n  // Validar que existe el audio\n  if (!audioBase64 || audioBase64.length === 0) {\n    throw new Error('No se recibi\u00f3 audio en mensajeAudio');\n  }\n\n  // Validar tama\u00f1o m\u00ednimo (al menos 100 caracteres de base64)\n  if (audioBase64.length < 100) {\n    throw new Error(`Audio demasiado corto: ${audioBase64.length} caracteres. Puede estar vac\u00edo o corrupto.`);\n  }\n\n  // Validar que sea base64 v\u00e1lido (caracteres permitidos)\n  const base64Regex = /^[A-Za-z0-9+/]+=*$/;\n  if (!base64Regex.test(audioBase64)) {\n    throw new Error('El audio no tiene formato base64 v\u00e1lido');\n  }\n\n  // Calcular tama\u00f1o aproximado en bytes\n  const audioSizeBytes = Math.floor(audioBase64.length * 0.75);\n\n  console.log('===== Audio Conversion =====');\n  console.log('Audio base64 length:', audioBase64.length);\n  console.log('Audio size (bytes):', audioSizeBytes);\n  console.log('Audio duration (seconds):', audioDuration);\n  console.log('Audio base64 preview:', audioBase64.substring(0, 50) + '...');\n  console.log('Audio base64 end:', '...' + audioBase64.substring(audioBase64.length - 50));\n  console.log('============================');\n\n  // Crear el objeto con binary data\n  results.push({\n    json: {\n      ...item.json,\n      audioSize: audioSizeBytes,\n      audioValid: true\n    },\n    binary: {\n      audio: {\n        data: audioBase64,\n        mimeType: 'audio/webm',\n        fileName: `recording_${audioDuration}s.webm`\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        -688
      ],
      "id": "20518404-bb5e-489c-b82a-b8b50f0867cf",
      "name": "Code-Convert-Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "transcription-field",
              "name": "mensajeTexto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3568,
        -480
      ],
      "id": "bed73a4e-3082-40f1-b83f-01697d2373c4",
      "name": "Set-Transcription"
    },
    {
      "parameters": {
        "content": "## Audio to text",
        "height": 432,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3776,
        -752
      ],
      "typeVersion": 1,
      "id": "151b939b-8d62-4c2d-8ec9-704d12f37712",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensajeTexto-field",
              "name": "mensajeTexto",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "mensajeAudio-field",
              "name": "mensajeAudio",
              "value": "={{ $json.body.data.message.audioMessage?.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "sessionId-field",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "nombre-field",
              "name": "nombre",
              "value": "={{ $json.body.data.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "email-field",
              "name": "email",
              "value": "={{ $json.body.userInfo?.email || '' }}",
              "type": "string"
            },
            {
              "id": "telefono-field",
              "name": "telefono",
              "value": "={{ $json.body.userInfo?.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "ip-field",
              "name": "ip",
              "value": "={{ $json.body.ip || $json.headers['x-real-ip'] || $json.headers['x-forwarded-for'] || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "messageType-field",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "audioDuration-field",
              "name": "audioDuration",
              "value": "={{ $json.body.data.message.audioMessage?.seconds || 0 }}",
              "type": "number"
            },
            {
              "id": "50916da0-7f88-45e3-8f1a-68502ea90066",
              "name": "instr_personalidad",
              "value": "#INSTRUCCIONES DE PERSONALIDAD\n#Ibon \u2013 Asistente IA Oficial de Ibon Palacio\n\n##IDENTIDAD\n*Nombre:* Ibon\n*Misi\u00f3n:* Asistente IA para acompa\u00f1ar a mujeres en su transformaci\u00f3n f\u00edsica, mental y personal, ofreciendo informaci\u00f3n clara, honesta y sin presi\u00f3n, para que entrenen su cuerpo, fortalezcan su car\u00e1cter y lideren su vida con intenci\u00f3n.\n\n##TONO\n\u2022\tCercana y humana, pero firme\n\u2022\tProfesional, directa y honesta\n\u2022\tMotivadora sin promesas irreales\n\u2022\tInspiradora desde la experiencia, no desde el discurso vac\u00edo\n\n##RESPUESTAS\n\n1.\tReconoce la situaci\u00f3n o momento de la usuaria\n2.\tValida emocionalmente sin sobreproteger\n3.\tOfrece una explicaci\u00f3n clara y accionable\n4.\tInvita al di\u00e1logo o al siguiente paso, sin presi\u00f3n\n\n##LENGUAJE\n\u274c Evitar:\n\u201cComo asistente de IA\u2026\u201d, frases motivacionales vac\u00edas, presi\u00f3n comercial, tecnicismos innecesarios.\n\u2705 Usar:\n\u201cEntiendo\u201d, \u201cAqu\u00ed no hay obligaci\u00f3n\u201d, \u201cTe explico y t\u00fa decides\u201d, \u201cEsto es un proceso\u201d.\nSiempre en primera persona, femenino, cercano y con car\u00e1cter.\n\n##FORMATO MARKDOWN\n*Negritas:* Conceptos clave y llamadas a la acci\u00f3n\n*Listas: * M\u00e1ximo 3\u20134 puntos\n*Longitud:* 4\u20136 l\u00edneas preferido, m\u00e1ximo 10\n\n\nEJEMPLO DE RESPUESTA\n\u201cEntrenar no es castigarte, es elegirte. Aqu\u00ed no hay contratos ni amarres.\nTe explico las opciones y t\u00fa decides cu\u00e1ndo empezar.\n\u00bfQuieres que revisemos qu\u00e9 se adapta mejor a tu momento?\u201d\n\n\n## AGENDAMIENTO DE CITAS\n\nCuando el usuario quiera agendar una cita:\n\n1. PREGUNTA por la fecha deseada (si no la proporcion\u00f3)\n2. USA el tool check_availability para ver horas disponibles en esa fecha\n3. MUESTRA las horas disponibles al usuario\n4. SOLICITA los datos faltantes uno por uno:\n   - Nombre completo\n   - Correo electr\u00f3nico\n   - Tel\u00e9fono (10 d\u00edgitos, debe empezar con 3)\n   - Hora (de las disponibles)\n   - Motivo: \"Conocer el Gimnasio\", \"Cita Mentor\u00eda\" o \"Inscripci\u00f3n Reto Gluteos\"\n5. VALIDA que todos los datos est\u00e9n completos antes de crear la cita\n6. USA el tool create_appointment para crear la cita\n7. CONFIRMA al usuario con los detalles completos\n\nIMPORTANTE:\n- NO inventes horas, usa SOLO las que devuelve el tool check_availability\n- Si una hora ya no est\u00e1 disponible, ofrece alternativas\n- El usuario recibir\u00e1 un email de confirmaci\u00f3n autom\u00e1tico\n- Direcci\u00f3n del local: Cl. 34 #66a 24, Laureles Estadio, Medell\u00edn\n",
              "type": "string"
            },
            {
              "id": "80c9ee3c-36d6-46e7-9025-4dc04bc1a0a8",
              "name": "instr_negocio",
              "value": "#INSTRUCCIONES DE NEGOCIO\n##IBON PALACIO & BY IBON\nL\u00cdNEAS DE TRABAJO\n\nIBONIA informa y orienta sobre dos l\u00edneas claramente diferenciadas:\nIbon Palacio \u2013 Entrenamiento f\u00edsico y disciplina corporal\nBy Ibon \u2013 Empoderamiento femenino, liderazgo y emprendimiento consciente\nNunca se mezclan, a menos que la usuaria lo relacione.\n\nL\u00cdNEA 1: IBON PALACIO \u2013 ENTRENAMIENTO\nSERVICIOS\nEntrenamiento personalizado presencial\nEntrenamiento semipersonalizado\nTiqueteras y d\u00eda fitness\nProgramas virtuales (Reto Gl\u00fateos 28 d\u00edas)\nPlanes Colombia e Internacional\n\nMENSAJE CLAVE (IBON PALACIO)\nIBONIA siempre refuerza:\nEmpiezas cuando t\u00fa decides\nSin contratos ni d\u00e9bitos autom\u00e1ticos\nResultados reales, no promesas m\u00e1gicas\n\nL\u00cdNEA 2: BY IBON \u2013 EMPODERAMIENTO, LIDERAZGO Y EMPRENDIMIENTO\n\u00bfQU\u00c9 ES BY IBON?\n\nBy Ibon es la l\u00ednea de Ibon Palacio enfocada en empoderamiento femenino real, liderazgo personal y mentalidad de emprendimiento.\nNo es coaching tradicional ni motivaci\u00f3n pasajera.\nEs formaci\u00f3n con car\u00e1cter, experiencia y disciplina aplicada a la vida.\n\n\n\n\nPROP\u00d3SITO DE BY IBON\n\n\u2022\tAcompa\u00f1ar a mujeres que desean:\n\u2022\tFortalecer su car\u00e1cter y toma de decisiones\n\u2022\tLiderarse a s\u00ed mismas con disciplina y coherencia\n\u2022\tExpandirse personal y profesionalmente\n\u2022\tConstruir una identidad s\u00f3lida y aut\u00e9ntica\n\nEJES DE BY IBON\n\nIBONIA puede hablar de By Ibon cuando la usuaria mencione prop\u00f3sito, liderazgo o crecimiento personal:\n\n\u2022\tEmpoderamiento femenino consciente\n\u2022\tLiderazgo personal (l\u00edmites, responsabilidad, enfoque)\n\u2022\tMentalidad de emprendimiento\n\u2022\tConstrucci\u00f3n de identidad fuerte\n\nFORMATOS BY IBON\n\n\u2022\tCharlas y espacios formativos\n\u2022\tExperiencias grupales\n\u2022\tContenido educativo y reflexivo\n\u2022\tProcesos de transformaci\u00f3n personal\n\nImportante:\nNo es terapia\nNo es coaching emocional\nEs formaci\u00f3n desde la experiencia real\n\nTONO ESPECIAL BY IBON\nCuando IBONIA habla de By Ibon:\nM\u00e1s firme\nM\u00e1s directa\nMuy honesta\nSin complacencia\n\nEjemplo:\n\n\u201cBy Ibon es para mujeres que dejaron de buscar aprobaci\u00f3n y decidieron hacerse cargo de su vida.\nNo es para todas.\nSi est\u00e1s en ese momento, te explico c\u00f3mo participar.\u201d\n\nCIERRE GENERAL DEL ASISTENTE\n\nIBONIA nunca presiona, siempre cierra as\u00ed:\n\n\u201cTe explico todo con claridad.\nT\u00fa decides cu\u00e1ndo y c\u00f3mo empezar.\nSi quieres, seguimos conversando.\u201d\n\nProp\u00f3sito: Transformar la vida de las mujeres a trav\u00e9s del empoderamiento f\u00edsico, mental y profesional, inspir\u00e1ndolas a descubrir su fuerza interior y alcanzar su m\u00e1ximo potencial.\n\nMisi\u00f3n: Compa\u00f1\u00eda colombiana l\u00edder en fitness femenino que ofrece programas especializados, espacios exclusivos y mentor\u00eda, combinando ejercicio natural con crecimiento personal y profesional.\n\nVisi\u00f3n 2030: Ser la referencia en Latinoam\u00e9rica en empoderamiento femenino integral, transformando 100,000+ vidas, consolidando red de gimnasios, posicionando Reto Gl\u00fateos mundialmente y estableciendo By Ibon como plataforma l\u00edder de mentor\u00eda.\n",
              "type": "string"
            },
            {
              "id": "b6f5598a-a91e-47a9-b4f4-dcb1ad57fda2",
              "name": "instr_situaciones",
              "value": "## MANEJO DE SITUACIONES\n\nIBONIA \u2013 Asistente IA de Ibon Palacio & By Ibon\n\nUSUARIA FRUSTRADA\nIBONIA responde sin minimizar, sin justificar y sin culpar.\n\n\n\nLineamientos\n\u2705 Valida la emoci\u00f3n\n\u2705 Asume responsabilidad si aplica\n\u2705 Ofrece soluci\u00f3n inmediata y clara\n\u274c Nunca confronta ni desacredita\n\nEjemplo de respuesta\n\u201cEntiendo tu frustraci\u00f3n, y tienes raz\u00f3n en sentirte as\u00ed.\nAqu\u00ed no buscamos complicarte el proceso.\nD\u00e9jame explicarte la opci\u00f3n m\u00e1s directa para tu caso y lo revisamos juntas.\u201d\n\nCUANDO IBONIA NO TIENE LA RESPUESTA\nIBONIA nunca improvisa ni promete.\nLineamientos\n\u2705 Honestidad emp\u00e1tica\n\u2705 Alternativas reales\n\u274c Nunca inventa informaci\u00f3n\n\nEjemplo de respuesta\n\u201cNo tengo esa informaci\u00f3n espec\u00edfica en este momento, y prefiero ser honesta contigo.\nLo que s\u00ed puedo hacer es ayudarte a encontrar la mejor alternativa o ponerte en contacto con el equipo adecuado.\u201d\n\nUSUARIA NECESITA TOMAR UNA DECISI\u00d3N\nIBONIA acompa\u00f1a, no empuja.\nLineamientos\n\u2705 Presenta opciones claras\n\u2705 Expone pros y contras\n\u2705 Pregunta prioridades\n\u2705 Recomienda sin imponer\n\u2705 Respeta autonom\u00eda\n\nEjemplo de respuesta\n\u201cPuedo mostrarte dos caminos posibles.\nUno te da m\u00e1s acompa\u00f1amiento y el otro m\u00e1s flexibilidad.\nCu\u00e9ntame qu\u00e9 es m\u00e1s importante para ti en este momento y lo vemos juntas.\u201d\n\nPROTOCOLO OPERATIVO\nL\u00cdMITES DE IBONIA\n\nIBONIA S\u00cd PUEDE\n\u2705 Explicar servicios de Ibon Palacio y By Ibon\n\u2705 Identificar necesidades generales\n\u2705 Orientar sobre entrenamientos, programas y procesos\n\u2705 Agendar clases de cortes\u00eda o conversaciones informativas\n\u2705 Compartir casos generales y enfoque de trabajo\n\nIBONIA NO PUEDE\n\n\u274c Cotizar proyectos espec\u00edficos personalizados\n\u274c Prometer resultados f\u00edsicos o personales\n\u274c Comprometer fechas o condiciones sin validaci\u00f3n\n\u274c Compartir informaci\u00f3n confidencial\n\u274c Negociar condiciones comerciales complejas\n\nCU\u00c1NDO DERIVAR AL EQUIPO HUMANO\nIBONIA debe derivar cuando:\n\n\u2022\tLa usuaria solicita cotizaci\u00f3n espec\u00edfica personalizada\n\u2022\tEl caso requiere an\u00e1lisis t\u00e9cnico o f\u00edsico profundo\n\u2022\tHay negociaci\u00f3n comercial\n\u2022\tSe necesita soporte t\u00e9cnico o de implementaci\u00f3n\n\u2022\tEl proceso supera el rol informativo del asistente\n\nEjemplo de derivaci\u00f3n\n\u201cPara darte una respuesta correcta y cuidarte bien, este caso necesita revisi\u00f3n directa del equipo.\nSi quieres, te ayudo a coordinar ese contacto.\u201d\n",
              "type": "string"
            },
            {
              "id": "57377bf1-dbd6-4510-bc21-229ffd7e4f63",
              "name": "instr_protocolo",
              "value": "## CHECKLIST PRE-RESPUESTA\n- [ ] \u00bfEmpat\u00eda? \u2192 \u00bfReconoc\u00ed la emoci\u00f3n?\n- [ ] \u00bfClaridad? \u2192 \u00bfEs comprensible sin tecnicismos?\n- [ ] \u00bfUtilidad? \u2192 \u00bfOfrezco soluci\u00f3n accionable?\n- [ ] \u00bfHumanidad? \u2192 \u00bfSueno como aliada o manual?\n- [ ] \u00bfAcompa\u00f1amiento? \u2192 \u00bfDej\u00e9 puerta abierta?\n\nPERSONALIZACI\u00d3N DE INTERACCI\u00d3N\nPRIMERA INTERACCI\u00d3N\n\nIBONIA se presenta brevemente y abre conversaci\u00f3n:\n\n\u201cHola, soy IBONIA.\nEstoy aqu\u00ed para ayudarte a elegir el proceso que mejor se adapte a ti.\n\u00bfEn qu\u00e9 te gustar\u00eda que te acompa\u00f1e hoy?\u201d\n\nUSUARIA RECURRENTE\nIBONIA reconoce continuidad:\n\u201cMe alegra volver a verte por aqu\u00ed.\nLa \u00faltima vez hablamos de tu proceso, \u00bfc\u00f3mo te has sentido desde entonces?\u201d\n\nINTERACCI\u00d3N POR AUDIO\nIBONIA reconoce el canal:\n\n\u201cGracias por contarme esto por audio, as\u00ed puedo entenderte mejor.\nTe respondo con calma para ayudarte bien.\u201d\n\nINTERACCI\u00d3N POR TEXTO\nIBONIA adapta su nivel de formalidad al de la usuaria:\n\n\u2022\tSi la usuaria es cercana \u2192 IBONIA es cercana\n\u2022\tSi la usuaria es formal \u2192 IBONIA mantiene tono profesional\n\nPRINCIPIO FINAL DEL ASISTENTE\nIBONIA siempre act\u00faa bajo esta premisa:\n\n\u2022\tAcompa\u00f1ar sin presionar.\n\u2022\tInformar sin manipular.\n\u2022\tGuiar sin decidir por la usuaria.\n",
              "type": "string"
            },
            {
              "id": "266c8f09-c15e-43b8-aec9-58764893c211",
              "name": "instr_herramientas",
              "value": " ## USO DE HERRAMIENTAS\n\n  ### Correo Electr\u00f3nico (mail-agent)\n  Usa la herramienta \"mail-agent\" cuando el usuario:\n  - Solicita contacto urgente o quiere que el equipo le contacte\n  - Necesita enviar informaci\u00f3n al equipo\n  - Quiere agendar reuni\u00f3n y requiere confirmaci\u00f3n por correo\n  - Dice expl\u00edcitamente \"env\u00edame un correo\" o \"env\u00edales mi informaci\u00f3n\"\n\n  El mail-agent:\n  - Pedir\u00e1 confirmaci\u00f3n antes de enviar cualquier correo\n  - Recopilar\u00e1 informaci\u00f3n necesaria (nombre, email, tel\u00e9fono, motivo)\n  - Enviar\u00e1 correos a sistemas@miclickderecho.com\n  - Confirmar\u00e1 cuando el correo fue enviado\n\n  **Ejemplos que activan mail-agent:**\n  - \"Quiero que me contacten\" \u2192 mail-agent\n  - \"Env\u00edales mi informaci\u00f3n\" \u2192 mail-agent\n  - \"Necesito hablar con alguien del equipo\" \u2192 mail-agent\n\n  ---\n\n  ### Calendario (calendar-agent)\n  Usa la herramienta \"calendar-agent\" cuando el usuario:\n  - Pregunta por disponibilidad: \"\u00bftienen tiempo ma\u00f1ana?\", \"\u00bfcu\u00e1ndo pueden atenderme?\", \"\u00bfqu\u00e9 d\u00edas trabajan?\"\n  - Quiere agendar: \"quiero una cita\", \"necesito una reuni\u00f3n\", \"ag\u00e9ndame para...\", \"reservar una llamada\"\n  - Menciona fechas/horas espec\u00edficas: \"para el lunes a las 3\", \"ma\u00f1ana por la tarde\", \"el viernes\"\n  - Consulta horarios: \"\u00bfa qu\u00e9 hora atienden?\", \"\u00bfhasta qu\u00e9 hora trabajan?\", \"\u00bfabren los s\u00e1bados?\"\n  - Pregunta por tipos de reuni\u00f3n: \"\u00bfpuedo agendar una consultor\u00eda?\", \"cu\u00e1nto dura una demo\"\n\n  **Ejemplos que activan calendar-agent:**\n  - \"una cita para hoy a la 1 pm\" \u2192 calendar-agent\n  - \"\u00bftienen disponibilidad esta semana?\" \u2192 calendar-agent\n  - \"quiero agendar una consultor\u00eda gratuita\" \u2192 calendar-agent\n  - \"\u00bfcu\u00e1ndo me pueden atender?\" \u2192 calendar-agent\n  - \"necesito una reuni\u00f3n ma\u00f1ana\" \u2192 calendar-agent\n  - \"\u00bfqu\u00e9 d\u00edas atienden?\" \u2192 calendar-agent\n  - \"para el martes en la ma\u00f1ana\" \u2192 calendar-agent\n\n  El calendar-agent:\n  - Consulta eventos existentes en Google Calendar en tiempo real\n  - Identifica horarios disponibles analizando huecos libres\n  - Propone 2-3 opciones de horarios disponibles\n  - Confirma con el usuario ANTES de crear el evento\n  - Crea citas confirmadas directamente en el calendario del equipo\n  - Respeta horarios: Lun-Vie 9-6, S\u00e1b 9-1, Dom cerrado\n  - Valida que las fechas/horas solicitadas sean v\u00e1lidas antes de agendar\n\n  **Importante:**\n  - Si el usuario menciona fecha/hora, SIEMPRE usa calendar-agent (incluso si parece fuera de horario)\n  - El calendar-agent se encargar\u00e1 de validar y proponer alternativas si es necesario\n  - NO respondas t\u00fa mismo preguntas de disponibilidad, delega a calendar-agent",
              "type": "string"
            },
            {
              "id": "7702b19f-f3b5-476a-81f0-e9dad2d022bc",
              "name": "horaFormateada",
              "value": "={{ $json.body.date_time ? new Date($json.body.date_time).toLocaleString('es-CO', { timeZone: 'America/Bogota' }) : new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota' }) }} Medell\u00edn, Colombia.",
              "type": "string"
            },
            {
              "id": "audioEnabled-field",
              "name": "audioEnabled",
              "value": "={{ $json.body.userInfo?.audioEnabled || false }}",
              "type": "boolean"
            },
            {
              "id": "clear-memory-field",
              "name": "clearMemory",
              "value": "={{ $json.body.clearMemory || false }}",
              "type": "boolean"
            },
            {
              "id": "src-platform",
              "name": "sourcePlatform",
              "value": "={{ $json.source.platform || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "src-project",
              "name": "sourceProject",
              "value": "={{ $json.source.project || null }}",
              "type": "string"
            },
            {
              "id": "src-component",
              "name": "sourceComponent",
              "value": "={{ $json.source.component || null }}",
              "type": "string"
            },
            {
              "id": "src-url",
              "name": "sourceUrl",
              "value": "={{ $json.source.url || null }}",
              "type": "string"
            },
            {
              "id": "src-iswa",
              "name": "sourceIsWhatsApp",
              "value": "={{ $json.source.isWhatsApp || false }}",
              "type": "boolean"
            },
            {
              "id": "src-isweb",
              "name": "sourceIsWeb",
              "value": "={{ $json.source.isWeb || false }}",
              "type": "boolean"
            },
            {
              "id": "src-phone",
              "name": "sourcePhoneNumber",
              "value": "={{ $json.source.phoneNumber || null }}",
              "type": "string"
            },
            {
              "id": "src-inst",
              "name": "sourceInstance",
              "value": "={{ $json.source.instance || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4608,
        80
      ],
      "id": "4de304eb-c7ec-45c1-b63e-b2bf877e4849",
      "name": "Set-Msg-Data"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a message in Gmail",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -2176,
        464
      ],
      "id": "d1795aa1-a970-4b27-b664-5c8458a21c51",
      "name": "Send-Email",
      "webhookId": "b1c7849c-eebf-498d-86d1-d1f76f6a50ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5cI70t8Wu3vYTar",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2592,
        -384
      ],
      "id": "b2736620-9dab-4136-b6a7-da7720095d35",
      "name": "Merge-Categories"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-saludo-condition",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "saludo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-despedida-condition",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "despedida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-general-condition",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2352,
        -384
      ],
      "id": "f6261b60-e515-44b8-9a55-a992f4963cdc",
      "name": "Switch-by-Category"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "audio-enabled-condition",
              "leftValue": "={{ $json.audioEnabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1232,
        -368
      ],
      "id": "b803b861-7f8e-4c6c-a691-92371e21fd49",
      "name": "IF Audio Enabled"
    },
    {
      "parameters": {
        "jsCode": "// Ruta cuando audio est\u00e1 desactivado\n// Solo retornamos el texto sin audio\n\nconst responseText = $('Merge Responses').item.json.aiResponse;\n\nreturn {\n  json: {\n    text: responseText,\n    hasAudio: false,\n    audioBase64: null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -352
      ],
      "id": "5f53f498-08a6-45ad-a52f-2b131b56e65e",
      "name": "Code - Skip Audio"
    },
    {
      "parameters": {
        "jsCode": "// Convertir audio de ElevenLabs a Base64\n// En n8n, los datos binarios ya vienen en base64 en el campo 'data'\n\nconst responseText = $('Merge Responses').item.json.aiResponse;\n\n// Verificar si hay datos binarios\nif (!items[0].binary || !items[0].binary.data) {\n  throw new Error('No se encontr\u00f3 audio en la respuesta de ElevenLabs');\n}\n\n// Obtener el base64 del audio (ya est\u00e1 en base64 en n8n)\nconst audioBase64Raw = items[0].binary.data.data;\n\n// Agregar prefijo de data URI para audio\nconst audioBase64 = `data:audio/mpeg;base64,${audioBase64Raw}`;\n\nconsole.log('Audio obtenido:', {\n  hasAudio: true,\n  audioLength: audioBase64Raw ? audioBase64Raw.length : 0,\n  preview: audioBase64Raw ? audioBase64Raw.substring(0, 50) + '...' : 'N/A'\n});\n\nreturn {\n  json: {\n    text: responseText,\n    hasAudio: true,\n    audioBase64: audioBase64\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -656
      ],
      "id": "07d80a28-633d-4028-8639-50ae396f47bf",
      "name": "Code - Convert to Base64"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -448,
        -368
      ],
      "id": "792faa7d-9c59-40f0-8e39-deff6c4a7e5f",
      "name": "Merge Audio Routes"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "nLOPMH0eUNj60i5i0ga5",
          "mode": "id"
        },
        "text": "={{ $('Clean Text for TTS').item.json.cleanedTextForTTS }}",
        "additionalOptions": {
          "model": {
            "mode": "list",
            "value": "eleven_multilingual_v2"
          },
          "languageCode": "es",
          "voiceSettings": "{\n  \"stability\": 1,\n  \"similarity_boost\": 1,\n  \"style\": 0,\n  \"use_speaker_boost\": true,\n  \"speed\": 1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -880,
        -656
      ],
      "id": "b4338fa7-483f-4d49-8af5-ca5578629992",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "2XrC8W59aL2ARvN3",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatear la respuesta del AI Agent para que tenga el campo aiResponse\n// El AI Agent devuelve la respuesta en el campo 'output'\n\nconst aiOutput = $json.output || $json.text || '';\nconst categoria = \"general\";\n\nreturn {\n  json: {\n    ...$json,\n    aiResponse: aiOutput,\n    category: categoria\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        -144
      ],
      "id": "223be6ca-e698-4fb2-98ff-35a83089f7bd",
      "name": "Format AI Response"
    },
    {
      "parameters": {
        "jsCode": "// Limpiar texto para Text-to-Speech (ElevenLabs)\n// Elimina emojis, markdown, y caracteres especiales que ElevenLabs no puede pronunciar\n\nconst rawText = $('Merge Responses').item.json.aiResponse || '';\n\n// 1. Eliminar emojis y s\u00edmbolos Unicode\nlet cleanedText = rawText.replace(/[\\u{1F600}-\\u{1F64F}]/gu, ''); // Emoticonos\ncleanedText = cleanedText.replace(/[\\u{1F300}-\\u{1F5FF}]/gu, ''); // S\u00edmbolos y pictogramas\ncleanedText = cleanedText.replace(/[\\u{1F680}-\\u{1F6FF}]/gu, ''); // Transporte\ncleanedText = cleanedText.replace(/[\\u{1F1E0}-\\u{1F1FF}]/gu, ''); // Banderas\ncleanedText = cleanedText.replace(/[\\u{2600}-\\u{26FF}]/gu, '');   // S\u00edmbolos misc\ncleanedText = cleanedText.replace(/[\\u{2700}-\\u{27BF}]/gu, '');   // Dingbats\ncleanedText = cleanedText.replace(/[\\u{FE00}-\\u{FE0F}]/gu, '');   // Selectores\ncleanedText = cleanedText.replace(/[\\u{1F900}-\\u{1F9FF}]/gu, ''); // Suplementarios\ncleanedText = cleanedText.replace(/[\\u{1FA00}-\\u{1FA6F}]/gu, ''); // Extendidos A\ncleanedText = cleanedText.replace(/[\\u{1FA70}-\\u{1FAFF}]/gu, ''); // Extendidos B\n\n// 2. Limpiar formato Markdown\ncleanedText = cleanedText.replace(/^#{1,6}\\s+(.+)$/gm, '$1');      // Encabezados\ncleanedText = cleanedText.replace(/\\*\\*(.+?)\\*\\*/g, '$1');         // Negrita\ncleanedText = cleanedText.replace(/__(.+?)__/g, '$1');             // Negrita alternativa\ncleanedText = cleanedText.replace(/\\*(.+?)\\*/g, '$1');             // Cursiva\ncleanedText = cleanedText.replace(/_(.+?)_/g, '$1');               // Cursiva alternativa\ncleanedText = cleanedText.replace(/^[\\-\\*]\\s+/gm, '');             // Listas\ncleanedText = cleanedText.replace(/^\\d+\\.\\s+/gm, '');              // Listas numeradas\ncleanedText = cleanedText.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1'); // Links\ncleanedText = cleanedText.replace(/`([^`]+)`/g, '$1');             // C\u00f3digo inline\ncleanedText = cleanedText.replace(/```[\\s\\S]*?```/g, '');          // Bloques de c\u00f3digo\n\n// 3. Limpiar caracteres especiales problem\u00e1ticos\ncleanedText = cleanedText.replace(/[\u2022\u25cf\u25cb\u25c6\u25c7\u25a0\u25a1\u25aa\u25ab]/g, '');  // Vi\u00f1etas\ncleanedText = cleanedText.replace(/[\u2192\u2190\u2191\u2193\u2194]/g, '');      // Flechas\ncleanedText = cleanedText.replace(/[\u00a9\u00ae\u2122]/g, '');        // S\u00edmbolos legales\n\n// 4. Limpiar espacios m\u00faltiples y saltos de l\u00ednea excesivos\ncleanedText = cleanedText.replace(/\\n{3,}/g, '\\n\\n');  // M\u00e1ximo 2 saltos\ncleanedText = cleanedText.replace(/\\s{2,}/g, ' ');      // Espacios m\u00faltiples\ncleanedText = cleanedText.trim();\n\n// 5. Reemplazar algunos s\u00edmbolos con palabras\ncleanedText = cleanedText.replace(/&/g, 'y');\ncleanedText = cleanedText.replace(/@/g, 'arroba');\ncleanedText = cleanedText.replace(/%/g, 'por ciento');\n\nconsole.log('Texto limpiado para TTS:', {\n  original: rawText.substring(0, 100),\n  cleaned: cleanedText.substring(0, 100),\n  originalLength: rawText.length,\n  cleanedLength: cleanedText.length\n});\n\nreturn {\n  json: {\n    ...$json,\n    cleanedTextForTTS: cleanedText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -656
      ],
      "id": "172f7438-31f7-4be7-bed9-afaf8c355158",
      "name": "Clean Text for TTS"
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "number": [],
          "boolean": [
            {
              "id": "clear-memory-condition",
              "value1": "={{ $json.clearMemory }}",
              "value2": true,
              "operation": "equal"
            }
          ],
          "dateTime": [],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "clear-memory-condition",
              "leftValue": "={{ $json.clearMemory }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4048,
        -400
      ],
      "id": "7c399f1d-2c5f-430a-864c-502a16d9059f",
      "name": "IF Clear Memory"
    },
    {
      "parameters": {
        "jsCode": "// Limpiar memoria conversacional\n// Este nodo se ejecuta cuando el usuario solicita borrar el historial\n\nconst sessionId = $json.sessionId;\n\nconsole.log('\ud83e\uddf9 Limpiando memoria para sesi\u00f3n:', sessionId);\n\n// Retornar mensaje de confirmaci\u00f3n\nreturn {\n  json: {\n    success: true,\n    data: {\n      response: \"\u2705 **Historial limpiado**\\n\\nLa conversaci\u00f3n ha sido reiniciada. \u00bfEn qu\u00e9 puedo ayudarte? \ud83d\ude0a\",\n      audio: null,\n      hasAudio: false,\n      memoryCleared: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        -960
      ],
      "id": "f7796a3a-b67e-44bc-abed-f16e8cfab839",
      "name": "Code - Clear Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2320,
        464
      ],
      "id": "dbbe40e4-c83b-43e4-92e2-06314e64db8d",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "13GTvADAQ2YoLY2j",
          "name": "OpenAikey"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Herramienta para ENVIAR CORREOS al equipo de Mi Click Derecho.\n\n\u26a0\ufe0f USA ESTA HERRAMIENTA CUANDO EL USUARIO:\n\n1. Solicita CONTACTO:\n   - \"quiero que me contacten\"\n   - \"necesito hablar con alguien\"\n   - \"que el equipo me llame\"\n\n2. Quiere ENVIAR informaci\u00f3n:\n   - \"env\u00edales mi informaci\u00f3n\"\n   - \"env\u00edales un correo\"\n   - \"comun\u00edcales que...\"\n\n3. Necesita SEGUIMIENTO:\n   - \"env\u00edame informaci\u00f3n\"\n   - \"m\u00e1ndame detalles\"\n\n\ud83c\udfaf ESTA HERRAMIENTA:\n- Env\u00eda correos a sistemas@miclickderecho.com\n- Recopila informaci\u00f3n del usuario\n- Confirma env\u00edo exitoso\n\n\u2705 SIEMPRE pide confirmaci\u00f3n antes de enviar.",
        "text": "Eres el asistente de correo de Mi Click Derecho, empresa de IA y automatizaci\u00f3n.\nTAREA: Enviar correos al equipo (sistemas@miclickderecho.com) cuando el usuario solicita contacto.\n\n PROCESO:\n 1. Confirmar con el usuario: \"\u00bfQuieres que env\u00ede un correo al equipo para que te contacten?\"\n 2. Recopilar informaci\u00f3n necesaria:\n    - Nombre completo\n    - Email de contacto\n    - Tel\u00e9fono (opcional)\n    - Motivo de contacto / Servicio de inter\u00e9s\n 3. Redactar correo profesional con formato claro\n 4. Informar al usuario cuando el correo fue enviado\n\n TONO: Profesional, c\u00e1lido y servicial.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2320,
        256
      ],
      "id": "e63ce310-b1d5-40a6-b60b-380b9ac015c8",
      "name": "mail-agent"
    },
    {
      "parameters": {
        "toolDescription": "Herramienta especializada para AGENDAR CITAS y CONSULTAR DISPONIBILIDAD en Google Calendar.\n\n\u26a0\ufe0f USA ESTA HERRAMIENTA CUANDO EL USUARIO:\n\n1. Quiere AGENDAR/RESERVAR:\n   - \"quiero agendar una cita\"\n   - \"necesito una reuni\u00f3n\"\n   - \"me gustar\u00eda reservar\"\n   - \"ag\u00e9ndame para\"\n   - \"una cita para [fecha/hora]\"\n\n2. Pregunta por DISPONIBILIDAD:\n   - \"\u00bftienen disponibilidad?\"\n   - \"\u00bfcu\u00e1ndo pueden?\"\n   - \"\u00bfqu\u00e9 horarios tienen?\"\n   - \"\u00bftienen tiempo [fecha]?\"\n\n3. Menciona FECHA/HORA espec\u00edfica:\n   - \"ma\u00f1ana a las 10 am\"\n   - \"el lunes a las 3 pm\"\n   - \"para el viernes\"\n   - \"hoy en la tarde\"\n\n4. Pregunta por HORARIOS:\n   - \"\u00bfa qu\u00e9 hora atienden?\"\n   - \"\u00bfqu\u00e9 d\u00edas trabajan?\"\n   - \"\u00bfabren los s\u00e1bados?\"\n\n\ud83c\udfaf ESTA HERRAMIENTA:\n- Consulta eventos reales en Google Calendar\n- Identifica horarios disponibles\n- Crea citas confirmadas en el calendario\n- Valida horarios permitidos (Lun-Vie 9-6, S\u00e1b 9-1)\n\n\u274c NO RESPONDAS T\u00da MISMO preguntas de disponibilidad o agendamiento.\n\u2705 SIEMPRE delega a esta herramienta cuando detectes estos triggers.",
        "text": "Asistente de calendario de Mi Click Derecho.\n\n\ud83d\udd27 TUS HERRAMIENTAS:\n\n1. List-Calendar-Events: Ver eventos existentes\n   - After: Fecha/hora inicio (ISO 8601)\n   - Before: Fecha/hora fin (ISO 8601)\n\n2. Create-Calendar-Event: Crear eventos nuevos\n   - Start: Fecha/hora inicio (ISO 8601)\n   - End: Fecha/hora fin (ISO 8601)\n   - Event_Title: T\u00edtulo del evento\n   - Description: Detalles\n\n\ud83e\udde0 TIENES MEMORIA: Recuerdas conversaciones previas de esta sesi\u00f3n\n\n\ud83c\udfaf FLUJO CONVERSACIONAL:\n\n**TURNO 1: Usuario solicita agendar**\nEjemplo: \"quiero cita ma\u00f1ana 10 am\"\n\n1. USA List-Calendar-Events (After=\"d\u00eda 00:00\", Before=\"d\u00eda 23:59\")\n2. VERIFICA que la hora est\u00e9 libre y dentro del horario\n3. RESPONDE pidiendo confirmaci\u00f3n:\n   - SI hora est\u00e1 libre: \"Tengo disponible ma\u00f1ana a las 10 AM para una consultor\u00eda inicial (1 hora). \u00bfConfirmas?\"\n   - SI hora ocupada: \"Esa hora est\u00e1 ocupada. \u00bfTe sirve a las [siguiente hora libre]?\"\n   - SI fuera de horario: \"Ese horario est\u00e1 fuera. \u00bfTe sirve a las [hora m\u00e1s cercana v\u00e1lida]?\"\n\n**TURNO 2: Usuario confirma**\nEjemplo: \"s\u00ed\", \"ok\", \"confirmo\", \"perfecto\"\n\n1. RECUERDA de la memoria qu\u00e9 hora propusiste\n2. USA Create-Calendar-Event:\n   - Start: Fecha/hora confirmada (ISO 8601 con -05:00)\n   - End: Start + 1 hora (consultor\u00eda) o 30 min (demo)\n   - Event_Title: \"Consultor\u00eda IA - [nombre o 'Cliente Web']\"\n   - Description: \"Cliente: [nombre]\nEmail: [email]\nContacto: Web chat\"\n3. CONFIRMA creaci\u00f3n: \"\u2705 \u00a1Listo! Tu consultor\u00eda est\u00e1 agendada para [d\u00eda] [fecha] a las [hora]. Te esperamos \ud83d\ude0a\"\n\n**SOLO CONSULTA DE DISPONIBILIDAD:**\nEjemplo: \"\u00bftienen disponibilidad ma\u00f1ana?\"\n\n1. USA List-Calendar-Events\n2. ANALIZA huecos libres\n3. PROPONE opciones: \"Tengo disponible ma\u00f1ana a las [h1], [h2], [h3]. \u00bfCu\u00e1l te acomoda?\"\n4. Usuario elige \u2192 Proceder con TURNO 1\n\n\u23f0 HORARIO PERMITIDO:\n- Lun-Vie: 9 AM - 6 PM\n- S\u00e1bados: 9 AM - 1 PM\n- Domingos: CERRADO\n\n\u274c VALIDACIONES:\n- SI domingo \u2192 \"Los domingos no atendemos. \u00bfTe sirve el lunes a las [hora]?\"\n- SI fuera de horario \u2192 \"Ese horario est\u00e1 fuera. \u00bfTe sirve [hora m\u00e1s cercana]?\"\n- SI hora ocupada \u2192 \"Esa hora est\u00e1 ocupada. \u00bfTe sirve [siguiente hora libre]?\"\n\n\ud83d\udeab NO \"THINKING OUT LOUD\":\n\u274c \"Voy a consultar...\"\n\u274c \"D\u00e9jame verificar...\"\n\u2705 Consulta silenciosamente\n\n\ud83c\udfaf EJEMPLOS COMPLETOS:\n\n**Ejemplo 1 - Flujo completo exitoso:**\n\ud83d\udc64 Usuario: \"quiero cita ma\u00f1ana 10 am\"\n\ud83e\udd16 T\u00fa:\n   - Usas List-Calendar-Events \u2192 10 AM libre\n   - \"Tengo disponible ma\u00f1ana a las 10 AM para una consultor\u00eda inicial (1 hora). \u00bfConfirmas?\"\n\n\ud83d\udc64 Usuario: \"s\u00ed\"\n\ud83e\udd16 T\u00fa:\n   - Recuerdas: \"propuse ma\u00f1ana 10 AM\"\n   - Usas Create-Calendar-Event (Start=\"2025-10-27T10:00:00-05:00\", End=\"11:00:00\")\n   - \"\u2705 \u00a1Listo! Tu consultor\u00eda est\u00e1 agendada para ma\u00f1ana 27 de octubre a las 10 AM. Te esperamos \ud83d\ude0a\"\n\n**Ejemplo 2 - Hora ocupada:**\n\ud83d\udc64 Usuario: \"agendar para hoy 3 pm\"\n\ud83e\udd16 T\u00fa:\n   - Usas List-Calendar-Events \u2192 3 PM ocupada, 4 PM libre\n   - \"Esa hora est\u00e1 ocupada. \u00bfTe sirve a las 4 PM?\"\n\n\ud83d\udc64 Usuario: \"ok\"\n\ud83e\udd16 T\u00fa:\n   - Recuerdas: \"propuse hoy 4 PM\"\n   - Usas Create-Calendar-Event\n   - \"\u2705 \u00a1Listo! Agendado para hoy a las 4 PM\"\n\n**Ejemplo 3 - Solo consulta:**\n\ud83d\udc64 Usuario: \"\u00bftienen disponibilidad esta semana?\"\n\ud83e\udd16 T\u00fa:\n   - Usas List-Calendar-Events\n   - \"Tengo disponible el martes a las 2 PM, mi\u00e9rcoles a las 10 AM y viernes a las 4 PM. \u00bfCu\u00e1l te acomoda?\"\n\n\ud83d\udc64 Usuario: \"el martes a las 2\"\n\ud83e\udd16 T\u00fa:\n   - \"Perfecto. Tengo disponible el martes a las 2 PM. \u00bfConfirmas?\"\n\n\ud83d\udc64 Usuario: \"s\u00ed\"\n\ud83e\udd16 T\u00fa:\n   - Usas Create-Calendar-Event\n   - \"\u2705 Agendado para el martes a las 2 PM\"\n\nTONO: C\u00e1lido, profesional, conversacional.\n\n\ud83d\udca1 USA LA MEMORIA: Cuando usuario confirma (\"s\u00ed\", \"ok\"), recuerda qu\u00e9 hora propusiste y agenda esa hora.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1840,
        272
      ],
      "id": "ba4ebad3-d657-4ab2-a9c1-cb0bb675b317",
      "name": "calendar-agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get many events in Google Calendar",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sistemas@miclickderecho.com",
          "mode": "list",
          "cachedResultName": "sistemas@miclickderecho.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `ISO 8601 date-time when to start listing events (e.g., 2025-10-26T00:00:00-05:00)`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `ISO 8601 date-time when to stop listing events (e.g., 2025-10-26T23:59:59-05:00)`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1520,
        480
      ],
      "id": "5816ef84-a305-45c3-ab2e-061dab51fa0a",
      "name": "List-Calendar-Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "klt4EZLvl2vDkfo0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sistemas@miclickderecho.com",
          "mode": "list",
          "cachedResultName": "sistemas@miclickderecho.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', 'ISO 8601 date-time when the event starts (e.g., 2025-10-27T10:00:00-05:00)', 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', 'ISO 8601 date-time when the event ends (e.g., 2025-10-27T11:00:00-05:00)', 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Detailed description with client info: name, email, phone, reason`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1360,
        480
      ],
      "id": "23bdae8b-65e6-48be-84aa-b0a943b1bb7a",
      "name": "Create-Calendar-Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "klt4EZLvl2vDkfo0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1904,
        480
      ],
      "id": "bdeb5f0b-7a7f-4eda-9a29-afb5ecb694ab",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "13GTvADAQ2YoLY2j",
          "name": "OpenAikey"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oficina.ibonpalacio.com/api/chat-logs/create.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.sessionId }}\",\n  \"origen\": \"{{ $json.origen }}\",\n  \"nombre\": \"{{ $json.nombre }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"telefono\": \"{{ $json.telefono || '' }}\",\n  \"ip_address\": \"{{ $json.ip }}\",\n  \"categoria\": \"{{ $json.category }}\",\n  \"mensaje_usuario\": \"{{ $json.mensajeTexto }}\",\n  \"respuesta_bot\": \"{{ $json.aiResponse }}\",\n  \"es_audio\": {{ $json.audioEnabled || false }},\n  \"message_timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        -368
      ],
      "id": "f9c0f5f7-b2e6-4fea-a256-ee70ddc4c69e",
      "name": "Save-Chat-Log"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1728,
        480
      ],
      "id": "423d66c4-48fb-437c-85db-9ec0c7e4e3ca",
      "name": "Calendar Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1cy1Gd2ZAnyMMpUlHu3qfdoaFJWBKjQA-L_gF1cTb97o"
        },
        "sheetName": {
          "__rl": true,
          "value": 1128195294,
          "mode": "list",
          "cachedResultName": "Empleados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cy1Gd2ZAnyMMpUlHu3qfdoaFJWBKjQA-L_gF1cTb97o/edit#gid=1128195294"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1024,
        368
      ],
      "id": "4d49405a-dfd2-4091-9e87-8a1cccde13fa",
      "name": "get-data-ibon",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eHxMvNH71UrfDyi3",
          "name": "Google-Docs-mcd-sistemas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Classify-Source v3 - WhatsApp SOLO por @s.whatsapp.net\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst EVOLUTION_API_URL = 'https://wa.miclickderecho.com';\nconst EVOLUTION_INSTANCE = 'ibon-p';\n\nfunction getRemoteJid(b) {\n  try {\n    if (b && b.data && b.data.key && b.data.key.remoteJid) {\n      return String(b.data.key.remoteJid);\n    }\n  } catch(e) {}\n  return '';\n}\n\nconst remoteJid = getRemoteJid(body);\nconst instance = body.instance || '';\n\n// Detectores\nconst isWhatsAppJid = remoteJid.indexOf('@s.whatsapp.net') !== -1;\nconst isWebJid = remoteJid.indexOf('@web.ibon.net') !== -1;\nconst isWebInstance = instance.indexOf('Web') !== -1;\n\n// Mapeo de instancia Web a proyecto\nfunction getProjectFromInstance(inst) {\n  if (inst.indexOf('IbonLanding') !== -1) return 'ibon-landing';\n  if (inst.indexOf('RetoGluteos') !== -1) return 'reto-gluteos';\n  if (inst.indexOf('PalacioFitness') !== -1) return 'palacio-fitness';\n  if (inst.indexOf('ByIbon') !== -1) return 'by-ibon';\n  return null;\n}\n\nconst debug = {\n  remoteJid: remoteJid,\n  instance: instance,\n  isWhatsAppJid: isWhatsAppJid,\n  isWebJid: isWebJid,\n  isWebInstance: isWebInstance\n};\n\nlet source = {\n  platform: 'unknown',\n  project: null,\n  component: null,\n  url: null,\n  isWhatsApp: false,\n  isWeb: false,\n  phoneNumber: null,\n  instance: instance,\n  evolutionUrl: EVOLUTION_API_URL,\n  evolutionInstance: EVOLUTION_INSTANCE\n};\n\n// 1. WhatsApp: SOLO si remoteJid tiene @s.whatsapp.net\nif (isWhatsAppJid) {\n  source.platform = 'whatsapp';\n  source.project = 'whatsapp';\n  source.isWhatsApp = true;\n  source.phoneNumber = remoteJid.replace('@s.whatsapp.net', '');\n  source.instance = EVOLUTION_INSTANCE;\n  debug.detected = 'WHATSAPP';\n}\n// 2. Web con campo origin (formato antiguo)\nelse if (body.origin && body.origin.platform === 'web') {\n  source.platform = 'web';\n  source.project = body.origin.project;\n  source.component = body.origin.component;\n  source.url = body.origin.url;\n  source.isWeb = true;\n  debug.detected = 'WEB-ORIGIN';\n}\n// 3. Web por instancia (IbonLandingWeb, RetoGluteosWeb, etc)\nelse if (isWebInstance || isWebJid) {\n  source.platform = 'web';\n  source.project = getProjectFromInstance(instance);\n  source.isWeb = true;\n  debug.detected = 'WEB-INSTANCE';\n}\nelse {\n  debug.detected = 'UNKNOWN';\n}\n\nreturn [{ json: { body: body, source: source, headers: input.headers, _debug: debug } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5984,
        -560
      ],
      "id": "classify-source-node-001",
      "name": "Classify-Source"
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ { 'whatsapp': 0, 'ibon-landing': 1, 'reto-gluteos': 2, 'palacio-fitness': 3, 'by-ibon': 4 }[$json.source.project] ?? 5 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4912,
        -608
      ],
      "id": "switch-origin-node-001",
      "name": "Switch-Origin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensajeTexto-field",
              "name": "mensajeTexto",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "mensajeAudio-field",
              "name": "mensajeAudio",
              "value": "={{ $json.body.data.message.audioMessage?.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "sessionId-field",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "nombre-field",
              "name": "nombre",
              "value": "={{ $json.body.data.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "email-field",
              "name": "email",
              "value": "={{ $json.body.userInfo?.email || '' }}",
              "type": "string"
            },
            {
              "id": "telefono-field",
              "name": "telefono",
              "value": "={{ $json.body.userInfo?.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "ip-field",
              "name": "ip",
              "value": "={{ $json.body.ip || $json.headers?.['x-real-ip'] || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "messageType-field",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "audioDuration-field",
              "name": "audioDuration",
              "value": "={{ $json.body.data.message.audioMessage?.seconds || 0 }}",
              "type": "number"
            },
            {
              "id": "origen-field",
              "name": "origen",
              "value": "={{ $json.origen || $json.source?.project }}",
              "type": "string"
            },
            {
              "id": "platform-field",
              "name": "platform",
              "value": "={{ $json.source?.platform || 'Web' }}",
              "type": "string"
            },
            {
              "id": "sourceIsWhatsApp-field",
              "name": "sourceIsWhatsApp",
              "value": "={{ $json.source?.isWhatsApp || false }}",
              "type": "boolean"
            },
            {
              "id": "phoneNumber-field",
              "name": "phoneNumber",
              "value": "={{ $json.source?.phoneNumber || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionUrl-field",
              "name": "evolutionUrl",
              "value": "={{ $json.source?.evolutionUrl || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionInstance-field",
              "name": "evolutionInstance",
              "value": "={{ $json.source?.evolutionInstance || '' }}",
              "type": "string"
            },
            {
              "id": "clearMemory-field",
              "name": "clearMemory",
              "value": "={{ $json.body.clearMemory || false }}",
              "type": "boolean"
            },
            {
              "id": "instr-personalidad-dyn",
              "name": "instr_personalidad",
              "value": "={{ $json.instr_personalidad }}",
              "type": "string"
            },
            {
              "id": "instr-negocio-dyn",
              "name": "instr_negocio",
              "value": "={{ $json.instr_negocio }}",
              "type": "string"
            },
            {
              "id": "instr-situaciones-dyn",
              "name": "instr_situaciones",
              "value": "={{ $json.instr_situaciones }}",
              "type": "string"
            },
            {
              "id": "instr-protocolo-dyn",
              "name": "instr_protocolo",
              "value": "={{ $json.instr_protocolo }}",
              "type": "string"
            },
            {
              "id": "instr-herramientas-dyn",
              "name": "instr_herramientas",
              "value": "={{ $json.instr_herramientas }}",
              "type": "string"
            },
            {
              "id": "faqs-dyn",
              "name": "faqs",
              "value": "={{ $json.faqs }}",
              "type": "string"
            },
            {
              "id": "horaFormateada-field",
              "name": "horaFormateada",
              "value": "={{ new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota', hour: '2-digit', minute: '2-digit', hour12: true }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4608,
        -592
      ],
      "id": "set-msg-ibon-landing-node",
      "name": "Set-Msg-IbonLanding"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensajeTexto-field",
              "name": "mensajeTexto",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "mensajeAudio-field",
              "name": "mensajeAudio",
              "value": "={{ $json.body.data.message.audioMessage?.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "sessionId-field",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "nombre-field",
              "name": "nombre",
              "value": "={{ $json.body.data.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "email-field",
              "name": "email",
              "value": "={{ $json.body.userInfo?.email || '' }}",
              "type": "string"
            },
            {
              "id": "telefono-field",
              "name": "telefono",
              "value": "={{ $json.body.userInfo?.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "ip-field",
              "name": "ip",
              "value": "={{ $json.body.ip || $json.headers?.['x-real-ip'] || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "messageType-field",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "audioDuration-field",
              "name": "audioDuration",
              "value": "={{ $json.body.data.message.audioMessage?.seconds || 0 }}",
              "type": "number"
            },
            {
              "id": "origen-field",
              "name": "origen",
              "value": "={{ $json.origen || $json.source?.project }}",
              "type": "string"
            },
            {
              "id": "platform-field",
              "name": "platform",
              "value": "={{ $json.source?.platform || 'Web' }}",
              "type": "string"
            },
            {
              "id": "sourceIsWhatsApp-field",
              "name": "sourceIsWhatsApp",
              "value": "={{ $json.source?.isWhatsApp || false }}",
              "type": "boolean"
            },
            {
              "id": "phoneNumber-field",
              "name": "phoneNumber",
              "value": "={{ $json.source?.phoneNumber || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionUrl-field",
              "name": "evolutionUrl",
              "value": "={{ $json.source?.evolutionUrl || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionInstance-field",
              "name": "evolutionInstance",
              "value": "={{ $json.source?.evolutionInstance || '' }}",
              "type": "string"
            },
            {
              "id": "clearMemory-field",
              "name": "clearMemory",
              "value": "={{ $json.body.clearMemory || false }}",
              "type": "boolean"
            },
            {
              "id": "instr-personalidad-dyn",
              "name": "instr_personalidad",
              "value": "={{ $json.instr_personalidad }}",
              "type": "string"
            },
            {
              "id": "instr-negocio-dyn",
              "name": "instr_negocio",
              "value": "={{ $json.instr_negocio }}",
              "type": "string"
            },
            {
              "id": "instr-situaciones-dyn",
              "name": "instr_situaciones",
              "value": "={{ $json.instr_situaciones }}",
              "type": "string"
            },
            {
              "id": "instr-protocolo-dyn",
              "name": "instr_protocolo",
              "value": "={{ $json.instr_protocolo }}",
              "type": "string"
            },
            {
              "id": "instr-herramientas-dyn",
              "name": "instr_herramientas",
              "value": "={{ $json.instr_herramientas }}",
              "type": "string"
            },
            {
              "id": "faqs-dyn",
              "name": "faqs",
              "value": "={{ $json.faqs }}",
              "type": "string"
            },
            {
              "id": "horaFormateada-field",
              "name": "horaFormateada",
              "value": "={{ new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota', hour: '2-digit', minute: '2-digit', hour12: true }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4608,
        -416
      ],
      "id": "set-msg-reto-gluteos-node",
      "name": "Set-Msg-RetoGluteos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensajeTexto-field",
              "name": "mensajeTexto",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "mensajeAudio-field",
              "name": "mensajeAudio",
              "value": "={{ $json.body.data.message.audioMessage?.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "sessionId-field",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "nombre-field",
              "name": "nombre",
              "value": "={{ $json.body.data.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "email-field",
              "name": "email",
              "value": "={{ $json.body.userInfo?.email || '' }}",
              "type": "string"
            },
            {
              "id": "telefono-field",
              "name": "telefono",
              "value": "={{ $json.body.userInfo?.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "ip-field",
              "name": "ip",
              "value": "={{ $json.body.ip || $json.headers?.['x-real-ip'] || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "messageType-field",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "audioDuration-field",
              "name": "audioDuration",
              "value": "={{ $json.body.data.message.audioMessage?.seconds || 0 }}",
              "type": "number"
            },
            {
              "id": "origen-field",
              "name": "origen",
              "value": "={{ $json.origen || $json.source?.project }}",
              "type": "string"
            },
            {
              "id": "platform-field",
              "name": "platform",
              "value": "={{ $json.source?.platform || 'Web' }}",
              "type": "string"
            },
            {
              "id": "sourceIsWhatsApp-field",
              "name": "sourceIsWhatsApp",
              "value": "={{ $json.source?.isWhatsApp || false }}",
              "type": "boolean"
            },
            {
              "id": "phoneNumber-field",
              "name": "phoneNumber",
              "value": "={{ $json.source?.phoneNumber || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionUrl-field",
              "name": "evolutionUrl",
              "value": "={{ $json.source?.evolutionUrl || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionInstance-field",
              "name": "evolutionInstance",
              "value": "={{ $json.source?.evolutionInstance || '' }}",
              "type": "string"
            },
            {
              "id": "clearMemory-field",
              "name": "clearMemory",
              "value": "={{ $json.body.clearMemory || false }}",
              "type": "boolean"
            },
            {
              "id": "instr-personalidad-dyn",
              "name": "instr_personalidad",
              "value": "={{ $json.instr_personalidad }}",
              "type": "string"
            },
            {
              "id": "instr-negocio-dyn",
              "name": "instr_negocio",
              "value": "={{ $json.instr_negocio }}",
              "type": "string"
            },
            {
              "id": "instr-situaciones-dyn",
              "name": "instr_situaciones",
              "value": "={{ $json.instr_situaciones }}",
              "type": "string"
            },
            {
              "id": "instr-protocolo-dyn",
              "name": "instr_protocolo",
              "value": "={{ $json.instr_protocolo }}",
              "type": "string"
            },
            {
              "id": "instr-herramientas-dyn",
              "name": "instr_herramientas",
              "value": "={{ $json.instr_herramientas }}",
              "type": "string"
            },
            {
              "id": "faqs-dyn",
              "name": "faqs",
              "value": "={{ $json.faqs }}",
              "type": "string"
            },
            {
              "id": "horaFormateada-field",
              "name": "horaFormateada",
              "value": "={{ new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota', hour: '2-digit', minute: '2-digit', hour12: true }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4608,
        -256
      ],
      "id": "set-msg-palacio-fitness-node",
      "name": "Set-Msg-PalacioFitness"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensajeTexto-field",
              "name": "mensajeTexto",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "mensajeAudio-field",
              "name": "mensajeAudio",
              "value": "={{ $json.body.data.message.audioMessage?.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "sessionId-field",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "nombre-field",
              "name": "nombre",
              "value": "={{ $json.body.data.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "email-field",
              "name": "email",
              "value": "={{ $json.body.userInfo?.email || '' }}",
              "type": "string"
            },
            {
              "id": "telefono-field",
              "name": "telefono",
              "value": "={{ $json.body.userInfo?.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "ip-field",
              "name": "ip",
              "value": "={{ $json.body.ip || $json.headers?.['x-real-ip'] || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "messageType-field",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "audioDuration-field",
              "name": "audioDuration",
              "value": "={{ $json.body.data.message.audioMessage?.seconds || 0 }}",
              "type": "number"
            },
            {
              "id": "origen-field",
              "name": "origen",
              "value": "={{ $json.origen || $json.source?.project }}",
              "type": "string"
            },
            {
              "id": "platform-field",
              "name": "platform",
              "value": "={{ $json.source?.platform || 'Web' }}",
              "type": "string"
            },
            {
              "id": "sourceIsWhatsApp-field",
              "name": "sourceIsWhatsApp",
              "value": "={{ $json.source?.isWhatsApp || false }}",
              "type": "boolean"
            },
            {
              "id": "phoneNumber-field",
              "name": "phoneNumber",
              "value": "={{ $json.source?.phoneNumber || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionUrl-field",
              "name": "evolutionUrl",
              "value": "={{ $json.source?.evolutionUrl || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionInstance-field",
              "name": "evolutionInstance",
              "value": "={{ $json.source?.evolutionInstance || '' }}",
              "type": "string"
            },
            {
              "id": "clearMemory-field",
              "name": "clearMemory",
              "value": "={{ $json.body.clearMemory || false }}",
              "type": "boolean"
            },
            {
              "id": "instr-personalidad-dyn",
              "name": "instr_personalidad",
              "value": "={{ $json.instr_personalidad }}",
              "type": "string"
            },
            {
              "id": "instr-negocio-dyn",
              "name": "instr_negocio",
              "value": "={{ $json.instr_negocio }}",
              "type": "string"
            },
            {
              "id": "instr-situaciones-dyn",
              "name": "instr_situaciones",
              "value": "={{ $json.instr_situaciones }}",
              "type": "string"
            },
            {
              "id": "instr-protocolo-dyn",
              "name": "instr_protocolo",
              "value": "={{ $json.instr_protocolo }}",
              "type": "string"
            },
            {
              "id": "instr-herramientas-dyn",
              "name": "instr_herramientas",
              "value": "={{ $json.instr_herramientas }}",
              "type": "string"
            },
            {
              "id": "faqs-dyn",
              "name": "faqs",
              "value": "={{ $json.faqs }}",
              "type": "string"
            },
            {
              "id": "horaFormateada-field",
              "name": "horaFormateada",
              "value": "={{ new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota', hour: '2-digit', minute: '2-digit', hour12: true }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4608,
        -80
      ],
      "id": "set-msg-by-ibon-node",
      "name": "Set-Msg-ByIbon"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensajeTexto-field",
              "name": "mensajeTexto",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "mensajeAudio-field",
              "name": "mensajeAudio",
              "value": "={{ $json.body.data.message.audioMessage?.base64 || '' }}",
              "type": "string"
            },
            {
              "id": "sessionId-field",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "nombre-field",
              "name": "nombre",
              "value": "={{ $json.body.data.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "email-field",
              "name": "email",
              "value": "={{ $json.body.userInfo?.email || '' }}",
              "type": "string"
            },
            {
              "id": "telefono-field",
              "name": "telefono",
              "value": "={{ $json.body.userInfo?.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "ip-field",
              "name": "ip",
              "value": "={{ $json.body.ip || $json.headers?.['x-real-ip'] || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "timestamp-field",
              "name": "timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "messageType-field",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "audioDuration-field",
              "name": "audioDuration",
              "value": "={{ $json.body.data.message.audioMessage?.seconds || 0 }}",
              "type": "number"
            },
            {
              "id": "origen-field",
              "name": "origen",
              "value": "={{ $json.origen || $json.source?.project }}",
              "type": "string"
            },
            {
              "id": "platform-field",
              "name": "platform",
              "value": "={{ $json.source?.platform || 'Web' }}",
              "type": "string"
            },
            {
              "id": "sourceIsWhatsApp-field",
              "name": "sourceIsWhatsApp",
              "value": "={{ $json.source?.isWhatsApp || false }}",
              "type": "boolean"
            },
            {
              "id": "phoneNumber-field",
              "name": "phoneNumber",
              "value": "={{ $json.source?.phoneNumber || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionUrl-field",
              "name": "evolutionUrl",
              "value": "={{ $json.source?.evolutionUrl || '' }}",
              "type": "string"
            },
            {
              "id": "evolutionInstance-field",
              "name": "evolutionInstance",
              "value": "={{ $json.source?.evolutionInstance || '' }}",
              "type": "string"
            },
            {
              "id": "clearMemory-field",
              "name": "clearMemory",
              "value": "={{ $json.body.clearMemory || false }}",
              "type": "boolean"
            },
            {
              "id": "instr-personalidad-dyn",
              "name": "instr_personalidad",
              "value": "={{ $json.instr_personalidad }}",
              "type": "string"
            },
            {
              "id": "instr-negocio-dyn",
              "name": "instr_negocio",
              "value": "={{ $json.instr_negocio }}",
              "type": "string"
            },
            {
              "id": "instr-situaciones-dyn",
              "name": "instr_situaciones",
              "value": "={{ $json.instr_situaciones }}",
              "type": "string"
            },
            {
              "id": "instr-protocolo-dyn",
              "name": "instr_protocolo",
              "value": "={{ $json.instr_protocolo }}",
              "type": "string"
            },
            {
              "id": "instr-herramientas-dyn",
              "name": "instr_herramientas",
              "value": "={{ $json.instr_herramientas }}",
              "type": "string"
            },
            {
              "id": "faqs-dyn",
              "name": "faqs",
              "value": "={{ $json.faqs }}",
              "type": "string"
            },
            {
              "id": "horaFormateada-field",
              "name": "horaFormateada",
              "value": "={{ new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota', hour: '2-digit', minute: '2-digit', hour12: true }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4608,
        -784
      ],
      "id": "set-msg-whatsapp-node",
      "name": "Set-Msg-WhatsApp"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -4224,
        -400
      ],
      "id": "merge-origin-node-001",
      "name": "Merge-Origins"
    },
    {
      "parameters": {
        "description": "Consulta las horas disponibles para agendar una cita. Llama esta herramienta pasando la fecha en formato YYYY-MM-DD como string (ejemplo: '2026-01-20'). Retorna las horas disponibles y ocupadas para ese d\u00eda.",
        "jsCode": "// Input: fecha como string YYYY-MM-DD\n// La variable 'query' contiene el input del AI\n\nlet fecha = query;\n\n// Si viene como JSON, parsearlo\ntry {\n  const parsed = JSON.parse(query);\n  fecha = parsed.fecha || parsed;\n} catch(e) {\n  // Es string directo, usar tal cual\n}\n\n// Validar formato\nif (!fecha || typeof fecha !== 'string' || !/^\\d{4}-\\d{2}-\\d{2}$/.test(fecha)) {\n  return JSON.stringify({ error: \"Formato invalido. Usa YYYY-MM-DD\", recibido: fecha });\n}\n\n// Llamar API usando this.helpers.httpRequest de n8n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `https://ibonpalacio.com/api/check-availability.php?fecha=${fecha}`,\n  json: true\n});\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        -560,
        144
      ],
      "id": "check-availability-code-001",
      "name": "check_availability"
    },
    {
      "parameters": {
        "description": "Crea una cita en el sistema. Llama esta herramienta pasando un JSON string con: nombre, correo, telefono (10 d\u00edgitos), fecha (YYYY-MM-DD), hora (HH:MM), asunto. Ejemplo: '{\"nombre\":\"Maria Garcia\",\"correo\":\"maria@email.com\",\"telefono\":\"3001234567\",\"fecha\":\"2026-01-20\",\"hora\":\"10:00\",\"asunto\":\"Conocer el Gimnasio\"}'",
        "jsCode": "// Input: JSON string con datos de la cita\n// La variable 'query' contiene el input del AI\n\nlet input;\ntry {\n  input = JSON.parse(query);\n} catch(e) {\n  return JSON.stringify({ success: false, error: \"Input debe ser JSON valido\", recibido: query });\n}\n\n// Validar campos requeridos\nconst required = ['nombre', 'correo', 'telefono', 'fecha', 'hora', 'asunto'];\nconst missing = required.filter(f => !input[f]);\n\nif (missing.length > 0) {\n  return JSON.stringify({\n    success: false,\n    error: \"Faltan campos: \" + missing.join(\", \"),\n    campos_recibidos: Object.keys(input)\n  });\n}\n\n// Llamar API usando this.helpers.httpRequest de n8n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://ibonpalacio.com/api/send-email.php',\n  headers: { 'Content-Type': 'application/json' },\n  body: {\n    nombre: input.nombre,\n    correo: input.correo,\n    telefono: input.telefono,\n    fecha: input.fecha,\n    hora: input.hora,\n    asunto: input.asunto,\n    origen: input.origen || 'chat'\n  },\n  json: true\n});\n\nreturn JSON.stringify(response);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        -432,
        144
      ],
      "id": "create-appointment-code-001",
      "name": "create_appointment"
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.sourceIsWhatsApp ? 1 : 0 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        -688
      ],
      "id": "if-is-whatsapp-node-001",
      "name": "IF-IsWhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wa.miclickderecho.com/message/sendText/ibon-p",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Merge-Origins').item.json.sourcePhoneNumber }}\",\n  \"text\": \"{{ $json.data.response.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -736
      ],
      "id": "send-whatsapp-response-node-001",
      "name": "Send-WhatsApp-Response",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EctEalvEB1cbvfzj",
          "name": "Evolution API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://oficina.ibonpalacio.com/api/chat-assistants/public-status.php?origen={{ $('Classify-Source').item.json.source.project }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5760,
        -560
      ],
      "id": "check-assistant-status-001",
      "name": "Check-Assistant-Status"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { ...$('Classify-Source').item.json, activo: $json.activo, origen: $('Classify-Source').item.json.source.project } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5552,
        -560
      ],
      "id": "set-combined-data-001",
      "name": "Set-Combined-Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-active",
              "leftValue": "={{ $json.activo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5360,
        -560
      ],
      "id": "is-assistant-active-001",
      "name": "Is-Assistant-Active"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: 'Lo siento, el asistente no est\u00e1 disponible en este momento.', status: 'disabled' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5008,
        48
      ],
      "id": "respond-disabled-001",
      "name": "Respond-Disabled"
    },
    {
      "parameters": {
        "jsCode": "// Fetch instructions y FAQs desde la BD\nconst origData = $('Set-Combined-Data').first().json;\nconst origen = origData.source?.project || origData.origen || 'palacio-fitness';\n\nconst baseUrl = 'https://oficina.ibonpalacio.com/api';\n\n// Fetch instructions\nlet instructions = {};\ntry {\n  const instrResp = await fetch(`${baseUrl}/chat-instructions/public-list.php?origen=${origen}`);\n  const instrData = await instrResp.json();\n  instructions = instrData.instructions || {};\n} catch(e) {\n  console.log('Error fetching instructions:', e);\n}\n\n// Fetch FAQs\nlet faqs = [];\ntry {\n  const faqsResp = await fetch(`${baseUrl}/chat-faqs/public-list.php?origen=${origen}`);\n  const faqsData = await faqsResp.json();\n  faqs = faqsData.faqs || [];\n} catch(e) {\n  console.log('Error fetching FAQs:', e);\n}\n\n// Formatear FAQs como texto\nconst faqsText = faqs.map(f => `P: ${f.q}\\nR: ${f.a}`).join('\\n\\n');\n\nreturn [{\n  json: {\n    ...origData,\n    instr_personalidad: instructions.instr_personalidad || '',\n    instr_negocio: instructions.instr_negocio || '',\n    instr_situaciones: instructions.instr_situaciones || '',\n    instr_protocolo: instructions.instr_protocolo || '',\n    instr_herramientas: instructions.instr_herramientas || '',\n    faqs: faqsText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5120,
        -576
      ],
      "id": "fetch-all-data-node-001",
      "name": "Fetch-All-Data"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify-Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IF-IsWhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-IsWhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send-WhatsApp-Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "add-saludo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add-despedida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add-consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-saludo": {
      "main": [
        [
          {
            "node": "Merge-Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Saludo": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Save-Chat-Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-despedida": {
      "main": [
        [
          {
            "node": "Merge-Categories",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Random Despedida": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch-Data-Msg": {
      "main": [
        [
          {
            "node": "Code-Convert-Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe-Audio": {
      "main": [
        [
          {
            "node": "Set-Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Transcription": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code-Convert-Audio": {
      "main": [
        [
          {
            "node": "Transcribe-Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Msg-Data": {
      "main": [
        [
          {
            "node": "Merge-Origins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send-Email": {
      "ai_tool": [
        [
          {
            "node": "mail-agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge-Categories": {
      "main": [
        [
          {
            "node": "Switch-by-Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch-by-Category": {
      "main": [
        [
          {
            "node": "Random Saludo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random Despedida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Enabled": {
      "main": [
        [
          {
            "node": "Clean Text for TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Skip Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Convert to Base64": {
      "main": [
        [
          {
            "node": "Merge Audio Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Skip Audio": {
      "main": [
        [
          {
            "node": "Merge Audio Routes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Code - Convert to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Clean Text for TTS": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Clear Memory": {
      "main": [
        [
          {
            "node": "Code - Clear Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch-Data-Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Clear Memory": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Audio Routes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-consulta": {
      "main": [
        [
          {
            "node": "Merge-Categories",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "mail-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mail-agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendar-agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List-Calendar-Events": {
      "ai_tool": [
        [
          {
            "node": "calendar-agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create-Calendar-Event": {
      "ai_tool": [
        [
          {
            "node": "calendar-agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "calendar-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Memory": {
      "ai_memory": [
        [
          {
            "node": "calendar-agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Classify-Source": {
      "main": [
        [
          {
            "node": "Check-Assistant-Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch-Origin": {
      "main": [
        [
          {
            "node": "Set-Msg-WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set-Msg-IbonLanding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set-Msg-RetoGluteos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set-Msg-PalacioFitness",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set-Msg-ByIbon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set-Msg-Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Msg-IbonLanding": {
      "main": [
        [
          {
            "node": "Merge-Origins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Msg-RetoGluteos": {
      "main": [
        [
          {
            "node": "Merge-Origins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Msg-PalacioFitness": {
      "main": [
        [
          {
            "node": "Merge-Origins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Msg-ByIbon": {
      "main": [
        [
          {
            "node": "Merge-Origins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Msg-WhatsApp": {
      "main": [
        [
          {
            "node": "Merge-Origins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge-Origins": {
      "main": [
        [
          {
            "node": "IF Clear Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-data-ibon": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check-Assistant-Status": {
      "main": [
        [
          {
            "node": "Set-Combined-Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set-Combined-Data": {
      "main": [
        [
          {
            "node": "Is-Assistant-Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is-Assistant-Active": {
      "main": [
        [
          {
            "node": "Fetch-All-Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond-Disabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch-All-Data": {
      "main": [
        [
          {
            "node": "Switch-Origin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save-Chat-Log": {
      "main": [
        [
          {
            "node": "IF Audio Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "flow.miclickderecho.com",
            "user-agent": "axios/1.13.2",
            "content-length": "1412",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "flow.miclickderecho.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9b5e776301bb",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ibon-p",
            "data": {
              "key": {
                "remoteJid": "573136199763@s.whatsapp.net",
                "remoteJidAlt": "573136199763@s.whatsapp.net",
                "fromMe": false,
                "id": "3B96A13DA8D5DB12AF18",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "David M.",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "hola",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 140,
                      "1": 94,
                      "2": 44,
                      "3": 87,
                      "4": 43,
                      "5": 197,
                      "6": 239,
                      "7": 48,
                      "8": 159,
                      "9": 65
                    },
                    "senderTimestamp": {
                      "low": 1766413603,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 11,
                      "1": 164,
                      "2": 38,
                      "3": 147,
                      "4": 41,
                      "5": 135,
                      "6": 133,
                      "7": 108,
                      "8": 152,
                      "9": 82
                    },
                    "recipientTimestamp": {
                      "low": 1768612974,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 17,
                    "1": 48,
                    "2": 231,
                    "3": 180,
                    "4": 63,
                    "5": 35,
                    "6": 205,
                    "7": 97,
                    "8": 215,
                    "9": 179,
                    "10": 31,
                    "11": 14,
                    "12": 27,
                    "13": 148,
                    "14": 151,
                    "15": 200,
                    "16": 47,
                    "17": 95,
                    "18": 136,
                    "19": 182,
                    "20": 206,
                    "21": 165,
                    "22": 168,
                    "23": 251,
                    "24": 63,
                    "25": 32,
                    "26": 147,
                    "27": 26,
                    "28": 0,
                    "29": 224,
                    "30": 62,
                    "31": 187
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1768677879,
              "instanceId": "3a1a34f8-6208-4c56-8225-bc78784b321d",
              "source": "unknown"
            },
            "destination": "https://flow.miclickderecho.com/webhook/ibon-web",
            "date_time": "2026-01-17T16:24:39.517Z",
            "sender": "573107931130@s.whatsapp.net",
            "server_url": "https://wa.miclickderecho.com",
            "apikey": "8A52132636EB-4C1D-88C8-D9BDAC6C13F8"
          },
          "webhookUrl": "https://flow.miclickderecho.com/webhook/ibon-web",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "e602eaf1-b868-4912-a4d1-82856b7e2ae9",
  "activeVersionId": "e602eaf1-b868-4912-a4d1-82856b7e2ae9",
  "versionCounter": 162,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-01-10T16:15:56.944Z",
      "createdAt": "2026-01-10T16:15:56.944Z",
      "id": "yLH7XSIymedNVMyk",
      "name": "ibon-p"
    }
  ]
}